@page
@model AceJobAgency.Pages.RegisterModel
@{
}
<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Register </h1>

			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.FirstName">First Name</label>
					<input type="Text" asp-for="RModel.FirstName" class="form-control" />
					<span asp-validaton-for="RModel.FirstName" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.LastName">Last Name</label>
					<input type="Text" asp-for="RModel.LastName" class="form-control" />
					<span asp-validaton-for="RModel.LastName" class="text-danger"></span>
				</div>
				<div class="col-md-6 mb-4">
					<label class="col-form-label" asp-for="RModel.Gender"></label>
					<div class="col-sm-10 d-flex align-items-center">
						<div class="form-check form-check-inline">
							@Html.RadioButtonFor(m => m.RModel.Gender, "Male",
							new {@class = "form-check-input"})
							<label class="form-check-label">Male</label>
						</div>
						<div class="form-check form-check-inline">
							@Html.RadioButtonFor(m => m.RModel.Gender, "Female",
							new {@class = "form-check-input"})
							<label class="form-check-label">Female</label>
						</div>
						<br />
						<span asp-validation-for="RModel.Gender" class="text-danger"></span>
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.NRIC">NRIC</label>
					<input type="Text" asp-for="RModel.NRIC" class="form-control" />
					<span asp-validaton-for="RModel.NRIC" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Email">Email Address</label>
					<input type="Text" asp-for="RModel.Email" class="form-control" />
					<span asp-validaton-for="RModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Password">Password</label>
					<input type="Text" asp-for="RModel.Password" class="form-control" />
					<span asp-validaton-for="RModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
					<input type="Text" asp-for="RModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="RModel.ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.DateOfBirth">Date of Birth</label>
					<input asp-for="RModel.DateOfBirth" class="form-control" />
					<span asp-validaton-for="RModel.DateOfBirth" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="RModel.Resume">Choose a file to upload Resume:</label><br />
					<input type="file"  class="form-control" asp-for="RModel.Resume" accept=".pdf">
					<span asp-validaton-for="RModel.Resume" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.WhoamI">WhoamI</label>
					<br />
					<textarea asp-for="RModel.WhoamI" rows="10" cols="20" style="width: 100%; height: 100px; max-width: 100%;"></textarea>
					<span asp-validaton-for="RModel.WhoamI" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button ctype="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>
